.odd {
    background-color:#fff;
    border-bottom:2px solid #DDD;
    margin-bottom: 6px;
    padding-left:10px;
    list-style: none;
}

.even {
    
    border-bottom:2px solid #DDD;
    margin-bottom: 6px;
    padding-left:10px;
    list-style: none;
}